div.sidebar
  a(href='/authors')
    div.authors 
      span.glyphicon.glyphicon-user
      h2.vertical-text Authors
  a(href='/books')
    div.books
      span.glyphicon.glyphicon-book
      h2.vertical-text Books 
