extends layout

block content
  div.well.well-lg.authors
    div.home
      a(href='#')
        span.glyphicon.glyphicon-user
    h2 Authors 
  div.well.well-lg.books 
    div.home
      a(href='/books')
        span.glyphicon.glyphicon-book
    h2 Books 
    
